:root {
  /* Paleta Principal */
  --color-primary: #147247;
  --color-primary-accent: #a7ffeb;

  /* Paleta Secundária / Ações */
  --color-secondary-cta: #4CAF50;
  --color-secondary-cta-hover: #388E3C;

  /* Paleta de Texto */
  --color-text-primary: #212529;
  --color-text-on-dark: #FFFFFF;
  --colot-text-on-light: #0A3A2C;

  /* Paleta de Fundo */
  --color-background-light: #F9FAFB;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--color-text-primary);
  background-color: var(--color-background-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  /* Remove o sublinhado */
  text-decoration: none;

  /* Faz o link herdar a cor do seu elemento pai. */
  color: inherit;
}
