.card {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .thumbnail {
    width: 100%;
    height: 125px;
    object-fit: cover;
  }
  
  .info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1; /* Faz esta área crescer para preencher o espaço */
  }
  
  .title {
    margin: 0 0 0.5rem 0;
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .status {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border-radius: 12px;
    color: #fff;
    align-self: flex-start;
    margin-top: auto;
  }
  
  .status.published {
    background-color: #28a745;
  }
  
  .status.draft {
    background-color: #6c757d;
  }